* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://res.cloudinary.com/djcen2oxj/image/upload/v1730549476/room_qlorzv.webp");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100vw;
}
